{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Landing page Escritolândia</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet"> <link rel="stylesheet" href="{% static 'home/style.css' %}">


</head>
<body>
<!-- partial:index.partial.html -->
<div class="gradientbg"></div>

<div class="grained"></div>

<nav>

    <a href="https://escritolandia.com.br/"><img src="img/logo_escritolandia.svg" alt="" class="logo"></a>

    <p><a href="https://escritolandia.com.br/">Loja</a></p>

</nav>


<div class="texto">

    <h1>Transforme <br> 
    <span class="container">
    <span class="word">com a Escritolândia.</span>
    <span class="word escrit">seu escritório.</span>
    <span class="word">sua casa.</span>
    <span class="word">seu espaço.</span>
    </span> 
    </h1>
    
    <p>
        Acesse nossa <b>nova loja virtual</b> e encontre <br> as melhores soluções para seu escritório.
    </p>
    
</div>

<a href="https://escritolandia.com.br/" class="botao"> Acesse a Loja!</a>

<p class="footer"> R. Pref. Dib Cherem, 3412 - Capoeiras, Florianópolis - SC, 88090-001 |
    R. Gen. Bittencourt, 603 - Centro, Florianópolis - SC, 88015-203 |
    Rod. José Carlos Daux, 8600 - Santo Antônio de Lisboa, Florianópolis - SC, 88050-000
</p>

<script src="/js/index.js"></script>
</body>

</html>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script><script src="{% static 'home/js/script.js' %}"></script>
</body>
</html>
